<div class="movie" (click)="clickMovie()">
  <img [src]="movie.poster_path | imgPipe" [alt]="movie.title" />
  <div class="movie__information">
    <p class="movie__title">{{ movie.title }}</p>
    <div class="movie__rating">
      <star-rating
        class="movie__rating-stars"
        [value]="movie.vote_average"
        [totalstars]="10"
        checkedcolor="#ff0"
        size="24"
        [readonly]="true"
      >
      </star-rating>
      <p class="movie__rating-puntuation">
        {{ movie.vote_average | number: "1.1-2" }}
      </p>
    </div>
  </div>
</div>
